/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;

 }

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


.site-content {
	&::before {
		@include desktop {
			content: '\f10d';
			font-family: FontAwesome;
			position: absolute;
			left: 130px;
			color: $color__brand-green;
			font-size: 125px;
			top: 230px;
		}
	}
	&::after {
		@include desktop {
			content: '\f10e';
			font-family: FontAwesome;
			position: absolute;
			right: 130px;
			color: $color__brand-green;
			font-size: 125px;
			top: 230px;
		}
	}
}

.site {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 10px;
}

.content-area{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#new-quote-button {
	border: 2px solid $color__brand-green;
	border-radius: 2px;
	box-shadow: none;
	text-shadow: none;
	background: transparent;
	color: $color__brand-green;
	font-size: 18px;
	margin-top: 10px;
	padding: 10px 25px;
	
	&:hover {
		color: darken($color__brand-green, 20%);
    border-color: darken($color__brand-green, 20%);
		background: transparent;
	}

	&:focus {
		box-shadow: none;
	}

	@include tablet {
		font-size: 20px;
	}
	
	@include desktop {
		margin: auto;
	}
}

main {
	margin-bottom: 80px;
	
	@include desktop {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
	}
}

.type-post {

	@include tablet {
		width: 100%;
		display: flex;
		justify-content: left;
		flex-direction: column;
	}

	@include desktop {
		width: 550px;
	}

	p {
		font-size: 20px;
		font-weight: 300;

		@include tablet {
			font-size: 40px;
			font-weight: 300;
		}
	}
}

.site-info {
	display: flex;
	justify-content: flex-end;
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
}
	
.entry-meta {
	h2 {
		font-weight: 300;
	}

	.source  {
		color: #222222;
	}
}

.type-page {
	@include desktop {
		width: 520px;
	}
}
