/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


.site-content {
	&::before {
			@include desktop {
					content: '\f10d';
					font-family: FontAwesome;
					position: absolute;
					left: 130px;
					color: $color__text-main;
					font-size: 140px;
					top: 240px;
			}
	}
	&::after {
			@include desktop {
					content: '\f10e';
					font-family: FontAwesome;
					position: absolute;
					right: 130px;
					color: $color__text-main;
					font-size: 140px;
					top: 240px;
			}
	}
}
