.site-info {
  width: 300px;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  @include tablet {
    width: 620px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
  }
  
  @include desktop {
    justify-content: flex-end;
    width: 1080px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  
  p {
    padding-left: 10px;
    margin: 0; 
    
    @include desktop { 
      margin-top: 35px; 
    }
  } 
}

.footer_navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  

  @include desktop {
    justify-content: flex-end;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  
  li {
    
    a {
      margin-top: 15px;
      padding: 0 10px;
    }
    
    list-style-type: none;
    &::after {
      content: '|';
    }
  }
}

