.logo {
  margin-top: 15px;
  text-align: left;

  @include desktop {
    text-align: center;
  }

  .logo-link {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 300px;

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 700px;
    }
  }
}

.page-header {
  .page-title {
    font-size: 2em;
  }
}