/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

.post-archives {
  
  ul {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include tablet { 
    }

    @include desktop {
    }
    
    li {
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
    }
  }

  h2 {
    color: white;
  }
}

.archive {
  .entry-content {
    margin: 0;
  }
  
  .page-header {
    margin-top: 35px;
    border-bottom: $color__border;

    @include desktop {
      width: 50%;
    }
  }

  .nav-previous {
    width: 100%;
  }
  
  article {
    border-bottom: $color__border;
    margin: 0;
    padding-bottom: 25px;
  }
  
  .number-pagination {
    margin-top: 15px;
  }
}

.browse-archives {
  
  @include tablet  {
    width: 600px;
  }

  @include desktop {
    width: 560px;
    margin-left: 45px;
  }
}


/* Submit a Quote Page */

#quote-submission-form {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    
    label {
      padding: 10px 0;
    }
    
    textarea {
      background-color: $color__background-body;
      border: 2px solid $color__brand-green;
      border-radius: 3px;
      color: white;
      
      &:focus {
        outline: 0;
        border-color: white;
      }
    }
  }

  input, textarea {
    width: 250px;
    background-color: $color__background-body;
    border: 2px solid $color__brand-green;
    border-radius: 3px;
    color: white;
    
    &:focus {
      outline: 0;
      border-color: white;
    }
    
    @include tablet {
      width: 350px;
    }

    @include desktop {
      width: 500px;
    }
  }
   
  input[type="submit"] {
    font-size: 20px;
    padding: 10px 25px;
    border: 2px solid $color__brand-green;
    box-shadow: none;
    text-shadow: none;
    color: $color__brand-green;
    background-color: $color__background-body;
    
    &:hover {
      color: darken($color__brand-green, 20%);
      border-color: darken($color__brand-green, 20%);
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.quote-submission-wrapper {
  h1 {
    margin-top: 80px;
  }
}
